<h1>Tweet一覧</h1>
<p>あなたが投稿したつぶやきは以下！</p>
<h1><%= notice %></h1>
<table>
  <tr>
    <th>Tweet内容</th>
  </tr>
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to 'Tweet詳細', tweet_path(tweet.id) %></td>
    <td><%= link_to 'Tweet編集', edit_tweet_path(tweet.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'Tweet削除', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくTweetを投稿する', new_tweet_path %>
